[2021-01-25 00:25] andrewbihl opened #4 "useInterval returns `Not all code paths return a value` error"
The useInterval hook does not compile as written. Currently getting:

[2021-01-25 00:30] andrewbihl commented on #4
I assume this has to do with the compiler settings I've chosen.

For anyone else with more strict type requirements for return values, I found changing the second `useEffect` function signature to this worked:

[code]

[2021-01-25 13:10] Junscuzzy commented on #4
Good catch thanks you! Can you share your `tsconfig.json` please, I will enforce type check more strict.

[2021-03-28 15:39] #4 closed

[2021-04-29 23:56] mankittens opened #7 "Suggestion: Use mouseenter and mouseleave in the useHover hook"
I used the useHover code in a project--thank you!--and noticed one downside. Because mouseover and mouseout are used for the event listeners, there is a lot of fluttering back-and-forth between `true` and `false` because these events trigger not just when entering and leaving the element in question but also _when entering and leaving any child of that element_.

In my case, I had the useHover hoo

[2021-05-02 20:57] #7 closed

[2021-05-21 15:39] olegKusov opened #10 "Please add useIsMounted Hook"
https://gist.github.com/jaydenseric/a67cfb1b809b1b789daa17dfe6f83daa

or https://github.com/jmlweb/isMounted for non state

[2021-05-23 16:04] Junscuzzy commented on #10
Hi @olegKusov, thank you for the suggestion, it's added :+1:

[2021-05-23 16:04] #10 closed

[2021-07-10 06:22] wisdomabioye opened #15 "Please add installation instruction"
I can't find this library on npm. Please add installation instruction.

[2021-07-10 06:22] wisdomabioye opened #16 "Please add installation instruction"
I can't find this library on npm. Please add installation instruction.

[2021-07-14 17:37] meotimdihia opened #17 "Ask: Do we have anyway limit key that calls from useLocalStorage?"
Do we have anyway limit key that calls from useLocalStorage? My app has a lot of things that I want to save in local storage.
But I want to use something to limit keys for read-write for example I don't know how to use an enum with useLocalStorage.
I am new to Typescript.

[2021-07-14 17:59] #17 closed

[2021-07-23 15:49] isaacalves opened #20 "useLocalStorage"
About the localStorage hook: if you just want to access a value from localStorage, you're still forced to pass an initial value - is that correct? How do you go around that?

https://usehooks-typescript.com/react-hook/use-local-storage

[2021-07-24 13:10] juliencrn commented on #20
Ooh indeed! I've just updated the hook with an optional default value, and it works as expected. Thanks @isaacalves  :)

[2021-07-24 13:10] #20 closed

[2021-08-04 11:16] selvinkuik opened #22 "useLocalStorage: Unsafe return of an any typed value @typescript-eslint/no-unsafe-return"
My linter is kicking up a fuss on the useLocalStorage hook:

[code]

My `.eslintrc.js`:

[code]

And `.tsconfig.json`:

[code]

Is there any way to get the hook to work under these conditions?

[2021-08-04 14:03] juliencrn commented on #22
Hi @selvinkuik, I've just added your Eslint rules and I have a ton of new errors, good catch! Thank you for the opportunity to increase useHooks's quality.
I will fix it, and I'm come back to you with the `useLocalStorage()` hook updated.

[2021-08-05 06:27] juliencrn commented on #22
Hi @selvinkuik, you can try this [version](https://github.com/juliencrn/usehooks.ts/blob/develop/src/hooks/useLocalStorage/useLocalStorage.ts) from the develop branch.

[2021-08-05 23:34] juliencrn commented on #22
Deployed

[2021-08-05 23:34] #22 closed

[2021-08-11 21:53] steinybot opened #23 "useInterval and useTimeout are the same"
`userInterval` says that it is "very similar to the useInterval hook". By my comparison they are exactly the same (except for the name).

[2021-08-11 22:45] #23 closed

[2021-08-31 18:49] vfonic opened #26 "Publish on npm?"
This great repo sounds like a great candidate for publishing on npm for easier updating and security auditing. If someone knows how to set it up, it could also support tree shaking, since each of the hooks is in its own file.

What do you think?

[2021-09-05 02:26] bclermont commented on #26
That is actualy the only reason I'm not using this project

[2021-09-08 10:13] juliencrn commented on #26
Thanks for the feedback guys.
I think there are very good packages for hooks, well tested and with a ton of hooks (e.g. [`react-use`](https://github.com/streamich/react-use)).

So, my initial goal here wasn't do the same, but just giving some simple code as well for understanding purpose and to speed development too.
My opinion is if I only need a pair of hooks, I prefer copy/paste there from a co

[2021-09-08 13:50] vfonic commented on #26
To be fair to, [now archived](https://github.com/i-voted-for-trump/is-odd), is-odd package from 2014, copy-pasting code snippets in 2021 seems like a joke. What if you realize there's a bug in one of the hooks? What's easier: copy-pasting the new code snippet hook in every project that uses that hook or updating the package via npm? How would you inform the other developers, users of the hook with

[2021-09-08 18:59] juliencrn commented on #26
Thank you mate, you're right. I will do it

[2021-09-09 08:22] vfonic commented on #26
You sir are a legend! 🚀
Thanks for the great work you've put into this!

[2021-09-09 12:23] tmdesigned opened #27 "does useIsMounted need to have its returned function wrapped in useCallback?"
In useIsMounted, the function returns `() => isMounted.current`. Then in the usage example, when this function is invoked in a useEffect, the eslint disable flag `// eslint-disable-next-line react-hooks/exhaustive-deps` is used as it would otherwise warn that `isMounted` should be included (which would cause a loop as it changes on every render).

Instead, should the useIsMounted hook not wrap the

[2021-09-10 20:52] juliencrn commented on #26
Oh man, good catch, thanks! 👏

[2021-09-10 23:01] juliencrn commented on #27
Hi @tmdesigned 👋
Indeed, you're right, good catch, thanks!
I've just fixed it here 2426bda020f47fbad630785e30d66adc7963bbe1

[2021-09-10 23:01] #27 closed

[2021-09-14 04:38] strange2x opened #30 "Any ways to use this directly from NPM Registery?"
Hey,

Nice work on this man. I would really like to use this in ongoing projects.. Any way to use this in an ongoing projects? Like using this directly from npmjs?

Thanks.

[2021-09-14 05:03] bclermont commented on #30
duplicated of #26

[2021-09-14 05:03] bclermont commented on #26
As this issue had been closed, where is the package?

[2021-09-14 05:05] strange2x commented on #30
oh sorry.. Thanks

[2021-09-14 06:12] #30 closed

[2021-09-14 20:13] juliencrn commented on #30
Thanks @strange2x and @bclermont

It's coming soon, I'm working on.

[2021-09-14 20:17] juliencrn commented on #26
I re-open the issue as long as the branch isn't merged on master. It's coming soon

[2021-09-17 11:30] juliencrn commented on #26
It's early stage, but it's now available on npm!

[2021-09-17 11:30] #26 closed

[2021-09-17 16:31] lancepollard opened #32 "useElementSize returns 0 width/height on initial render"
It is only after resizing the browser window that the size is correct. This means initial render you get size 0 and can't style it in a custom way. How do you work around this?

[2021-09-18 14:27] gmukul01 opened #33 "Question: How to test `useLocalStorage`"
Actually  I am using `useLocalStorage` and writing unit tests around it and I am getting below error. I am using `Jest` & `react-testing-library`.

[code]

[2021-09-18 18:10] #33 closed

[2021-09-19 11:22] juliencrn commented on #33
Hi @gmukul01,

I haven't tested this yet, if you have found how to test it, a contribution is welcome :)

[2021-09-19 11:23] juliencrn commented on #32
Oh, good catch, it's weird. Thanks @lancepollard, I will check it and I'm come back to you.

[2021-09-19 11:58] juliencrn commented on #32
I've just tried (using [this example](https://usehooks-typescript.com/react-hook/use-element-size)). Indeed, at the initial render, the width/height has size 0. It's the default value, and it's because until the component is mounted, we can't calculate his size.
But, when the component is mounted, the `useEffect` in the hook is triggered and give you the element size.
It works as expected.

![Scre

[2021-09-26 13:08] jeanlucmongrain opened #34 "Possible Addition: useMap"
https://medium.com/swlh/using-es6-map-with-react-state-hooks-800b91eedd5f

[2021-09-26 13:19] jeanlucmongrain commented on #34
maybe:

[code]

[2021-09-26 16:37] juliencrn commented on #34
Hi @jeanlucmongrain, nice idea! I will create a PR with this new hook, thanks!

Have you any examples of possible use cases?

[2021-09-29 23:44] #34 closed

[2021-09-29 23:45] #32 closed

[2021-09-30 01:07] jeanlucmongrain commented on #34
Well, my use case is gone as I changed my API backend. But I'm sure it will be useful for me.

Map in typescript api is one of the worst. But, sometimes you really need them :)

[2021-09-30 06:53] valtism opened #36 "[useLocalStorage] does not accept undefined in setter"
When a state can be undefined, this hook does not support setting an undefined value.

In this example, you can set `state` to a string, but if you set it to `undefined` it will just return the initial value

[code]

This is because of this line in the code where if item does not exist we do not parse it.

[code]

funnily enough `undefined` cannot be stored in localstorage, so it gets set as `"und

[2021-09-30 07:02] valtism commented on #36
Because of this error I switched our prod to use [`useLocalSorageState`](https://github.com/astoilkov/use-local-storage-state) which handles this correctly. You might want to look at that for pointers on how to handle this case correctly.

[2021-10-01 18:24] juliencrn commented on #36
Hi @valtism, thanks for this very useful feedback, I will update it.

[2021-10-02 03:28] jeanlucmongrain opened #37 "[useFetch] Fetch State is not exported"
I want to wrap `useFetch` to do lazy loading fetch.

[code]

[2021-10-02 03:35] jeanlucmongrain commented on #37
what about a new `useLazyFetch` hook?

[code]

[2021-10-02 04:18] jeanlucmongrain commented on #37
that break the rule of hooks :(

[2021-10-02 04:18] #37 closed

[2021-10-06 13:19] #36 closed

[2021-10-12 14:20] Wendenburg opened #39 "threshold as array"
**About useIntersectionObserver**

passing threshold as an array of positions to observe will result in endless state changes, as every entry differs and the whole entry is set to the state:

`  const entry = useIntersectionObserver(ref, { threshold: [0.2, 0.4, 0.6] })
`

There should be a condition to set a new state only if relevant changes have happened...

[2021-10-15 17:25] #39 closed, assigned to nobody

[2021-10-18 09:30] noseratio opened #40 "useInterval should probably be using useLayoutEffect when saving the callback ref"
First of all, well done on this library, it looks very useful, thank you very much!

As to `useInterval` hook, it probably should be using `useLayoutEffect` when saving the callback ref:

[code]

Here is [the reasoning](https://stackoverflow.com/questions/68407187/potential-bug-in-official-useinterval-example) behind it.

Disclaimer: I'm not in that thread, but I had found it as I came to the same

[2021-10-19 02:57] #40 closed, assigned to nobody

[2021-10-28 10:28] soullivaneuh opened #46 "Allow react 16"
Hi,

I know this is not really a good practice to allow an old release of a vendor dependency, but as described on the official [blog posts](https://reactjs.org/blog/2020/10/20/react-v17.html#no-new-features), react 17 does not has "real breaking change" as it's a preparation state for react 18.

For now, many libraries and popular react ecosystem tools looks "not ready" to react 17, according to

[2021-11-01 20:46] juliencrn commented on #46
Hi @soullivaneuh, that makes sense, will do it now. Thanks! 👍

[2021-11-02 04:54] juliencrn commented on #46
`usehooks-ts@1.0.8` now requires at least `react@16.8.0`.

[2021-11-02 04:54] #46 closed

[2021-11-02 13:18] kxm766 opened #47 "React dependency uses incorrect notation to allow React 17"
I see in v1.0.8 that the `react` dependency was changed to `^16.8.0` but I believe this was done in error since the package does not support projects that use v17+. I believe this can be fixed with an easy change:

[code]

Let me know if you'd like me to submit a PR for this

[2021-11-02 15:45] juliencrn commented on #47
Fixed in `usehooks-ts@1.0.9`. Thanks again 👍

[2021-11-02 16:09] kxm766 commented on #47
thanks so much!

[2021-11-08 04:10] renovate[bot] opened #55 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update actions/setup-node action to v4
 - [ ] chore(deps): update dependency date-fns to v3
 - [

[2021-11-08 08:42] mendrik opened #56 "useEventListener logic is broken"
usually in the first cycle the element ref is null and even though a ref element is present it will attach a listener to the window object. If ref is given it should wait until ref.current is available before attaching any events

[2021-11-08 18:23] mterrel opened #57 "useElementSize doesn't update size when elementRef.current changes"
# Summary

If `elementRef.current` within `useElementSize` starts out as `null` on initial render (typically because the target element does not render), `useElementSize` will not update and return the correct element size once `elementRef.current` changes to a non-null value.

# Simplified code example

[code]

# Details

I'm using `useElementSize` in a full screen dialog component similar to the

[2021-11-08 18:26] mterrel commented on #57
If you'd like, I'd be happy to submit a PR. 🙂

[2021-11-08 19:30] jeanlucmongrain opened #58 "Possible addition: useImport"
To dynamically `import("./bleh")`

[2021-11-08 20:34] juliencrn commented on #56
Hi @mendrik, good observation, but I think in this situation, we are done.

![1_552z6hbX_b648DjpTLHZNg](https://user-images.githubusercontent.com/14028029/140803345-49978c4e-afc0-4f8d-8e50-d1d0c82c51c0.png)

Like you can see in this image, the `ref` is set before the effect was triggered, so, in other word, when we are in the `useEffect` callback, the `ref` must be OK.

You can make another test,

[2021-11-10 14:55] juliencrn commented on #58
Hello @jeanlucmongrain,

What about this one `[useScript](https://usehooks-ts.com/react-hook/use-script)`?

If you're excepted another kind of hook, please explain a little more :)

[2021-11-10 15:17] juliencrn commented on #57
Hi @mterrel, good catch, indeed it's broken, thank you.

If you want to fix it by yourself, feel free to do it, it's welcome 👏

I'm looking forward to your PR 👍

[2021-11-10 18:29] mterrel commented on #57
@juliencrn I submitted the PR. Let me know if you'd like any changes!

[2021-11-11 09:08] mendrik commented on #56
hmm maybe I debugged something wrong then. I thought it had attached the listener to window object. closing

[2021-11-11 09:08] #56 closed

[2021-11-16 22:51] juliencrn commented on #57
The new hook version is published in usehooks@2.0.0.
Thanks for your contribution, Mark!

[2021-11-16 22:51] #57 closed

[2021-11-17 02:37] juliencrn commented on #15
Hmm, seriously?

There are some [documentation website](https://usehooks-ts.com/) and [npm package](https://www.npmjs.com/package/usehooks-ts) links in the project's README.md, and the name is the same on each platform: `usehooks-ts`.

![Screenshot 2021-11-17 at 03 26 35](https://user-images.githubusercontent.com/14028029/142107495-e38383cc-b290-494b-a215-f9326550fc4f.png)

![Screenshot 2021-11-17

[2021-11-17 02:37] #15 closed

[2021-11-17 02:38] juliencrn commented on #16
Duplicated #15

[2021-11-17 02:38] #16 closed

[2021-11-17 02:43] juliencrn opened #63 "Update dependency trim-newlines to 3.0.1 [SECURITY]"

[2021-11-18 13:53] oluckyman opened #65 "useTimeout should run immediately if `delay` is 0"
`setTimeout(callback, 0)` will call callback immediately.
I assume that `useTimeout(callback, 0)` should work the same way.
But it doesn't:
[code]
https://github.com/juliencrn/usehooks-ts/blob/master/lib/src/useTimeout/useTimeout.ts#L13-L16

[2021-11-18 22:07] juliencrn commented on #65
Hi @oluckyman,
Yes, indeed, good catch!
I will fix it now, thank you!

[2021-11-19 02:20] juliencrn commented on #65
Fixed in 2.0.2, thanks again! 👍

[2021-11-19 02:20] #65 closed

[2021-11-25 17:43] ducktordanny opened #67 "Dark mode: weird behaviour on site"
## Description

A few times I've already discovered that when I'm going to the side and I'm switching between dark mode and light mode it has some issues. Sometimes when I click the button on the navigation it's only changing a particular part of the site or not even doing anything.

## Checked

I've already checked if it's happening on localhost, but there I didn't face this problem. **It's quite

[2021-11-26 22:21] juliencrn commented on #67
Hello @ducktordanny, indeed weird... Thank you for the bug report ! 👍

[2021-12-01 21:39] #58 closed

[2021-12-02 14:23] #67 closed

[2022-01-11 04:09] PabloLION opened #81 "Can I PR new functions?"
Hi team.
I made a ternary Darkmode (based on this repo) like `"dark" | "system" | "light"` in a project  and I want to use it in another project.
The best way to share it is to upload it on NPM and GitHub. And I think putting it here might be helpful, as I see you have " Add new hooks" in your roadmap. Questions are:

1. Is this too trivial to add?
2. Can I make a PR on this repo?
3. Do you have a

[2022-01-11 13:18] juliencrn commented on #81
Hey @PabloLION,

That's a good idea! There is already a [hook about dark theme](https://usehooks-ts.com/react-hook/use-dark-mode), but your feature is a bit different, it's really welcome!!
We haven't Code of Conduct yet, but we have some tools to drive style like Eslint, Plop, Prettier, Typescript.
So, you can fork and install locally, then to create a brand-new hook, we have a CLI command ready

[2022-01-11 21:26] PabloLION commented on #81
I know about that hook, and I tried it. But after I made it I find Mac OS is using this ternary dark mode. (system-> automatic) And if we use what `system` uses, it would be also automatic. This time apple acted faster than me XD.

The `plop` is useful. I'll try to run it before I start, then copy paste my code and tinker a little. (Maybe you can write a short contribution chapter?)

And do you ha

[2022-01-11 22:47] PabloLION commented on #81
Hi again @juliencrn. I need some guide on the `.demo.tsx`. I saw the third line of `site/src/hooks-doc/useDarkMode/useDarkMode.demo.tsx`, shown as below, is reporting `Cannot find module 'usehooks-ts' or its corresponding type declarations.ts(2307)`. What should I do to test the demo?

https://github.com/juliencrn/usehooks-ts/blob/2ed1716e0e2a80fd75db6a1fb511a0db5edb20d3/site/src/hooks-doc/useDark

[2022-01-12 12:06] egehandulger commented on #81
@PabloLION I am not sure whether it is the correct way to go but since there is a symlink i think reloads are not recognised. Assuming you have VSCode; after you make a change and compile, while a TypeScript file is open hit `cmd + shift + p` and run `TypeScript: Restart TS server`. Wait until it finishes restarting and you should see the updates.

[2022-01-12 12:16] PabloLION commented on #81
Thanks for the reply, @egehandulger. The `compile` you mean "npm start" or "tsc"? I checked the `package.json` and I didn't see `compile` command.

[2022-01-12 12:40] egehandulger commented on #81
@PabloLION Yes, I mean `npm start` as it compiles the files you change. Sorry for the confusion.

[2022-01-12 13:17] juliencrn commented on #81
Hi, yes @PabloLION, you're right, I will add a contribution guide, it will be easier for someone to contribute.

And yes @egehandulger exact; the `npm start` is a dev command, but you must compile the lib before playing with the frontend. The live reload works:
- in the lib only ✅
- on the website only ✅
- but not in both at the same time 🟥
It must be improved too.

The `compile` script exists but

[2022-01-12 13:22] PabloLION commented on #81
Hi @juliencrn. Than you for the details. I was also thinking about to summarize these things I learned there and make another PR on the README for the "contribution" chapter. But obviously you will do it better than me.

As for the

[2022-01-12 15:56] juliencrn commented on #81
`useTernaryDarkMode` seems to be well :)

If you want to create/improve the "contribution" chapter, feel free, it's really welcome. You have been just blocked by its absence, so you know well what is missing, what was blocking you.

[2022-01-12 23:55] chainalert-bot opened #83 "ChainAlert: npm package release (2.2.1) has no matching tag in this repo"
Dear [usehooks-ts](https://npmjs.com/package/usehooks-ts) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.2.1) of [usehooks-ts](https://npmjs.com/package/usehooks-ts) was published without a matching tag in this repo**.

Our service monitors the open-source ecosystem and informs popular packages' owne

[2022-01-13 21:06] emulienfou opened #84 "useDarkMode Next.js issue"
When using the hook `useDarkMode` and I presume it could be the same issue for other hooks with **Next.js framework** and **Material-UI**, I get the error message: `Prop className did not match.`

Here is my current code generating this error:
[code]

The way I was able to fix this error to happen was changing my code to:
[code]

I do not know if this error is actually related to the hooks or mayb

[2022-01-14 19:10] docmars opened #85 "Add `useSessionStorage` hook to complement `useLocalStorage`"
Hi there! Really impressed by this collection of hooks, nice work, and thanks for sharing!

I'd love to see a `useSessionStorage` hook alongside `useLocalStorage` and wanted to add a note here to add one. If I get time I may PR one, but no promises :)

I couldn't find any well-supported hooks that support local and session storage both, but your `useLocalStorage` hook seems like one of the more so

[2022-01-15 15:43] juliencrn commented on #83
Tag `2.2.1` pushed on github

[2022-01-15 15:43] #83 closed

[2022-01-16 13:53] juliencrn commented on #85
Hi and thank you so much, Andy! 😀

Yes, I think it is a good idea! If you want to do it, feel free, else I will do it sooner 👍

[2022-01-17 11:33] juliencrn commented on #84
Hi @emulienfou,

Instead (re-)creating the whole theme in the component, why not create both themes once, then use the hook's value to read the wanted version?

[code]

Additionally, as you can see on the [`useDarkMode()`](https://usehooks-ts.com/react-hook/use-dark-mode), the logic to handle the theme state is already implemented in the hook. Thus, you can remove these lines:

[code]

[2022-01-17 15:32] juliencrn commented on #81
Hello @PabloLION, I've updated the readme.md about [how to contribute](https://github.com/juliencrn/usehooks-ts#-how-to-contribute). What do think about, it's better? Is missing something?

[2022-01-18 07:31] PabloLION commented on #81
@juliencrn  Sorry I was busy lately. Today hopefully I'll finish this PR. I'm pulling new master and then try to follow the "how to contribute" and see how it works.

[2022-01-18 07:35] PabloLION commented on #81
It seems you have two typos `npm run dev:lib`, which should be`start:lib`. There's no `dev`

[2022-01-18 13:30] AjayTheWizard opened #87 "Mistake in Documentation Page"
I found a mistake in Documentation in `https://usehooks-ts.com/react-hook/use-fetch`.

Where I found a `a` tag with wrong `href` attribute.
`Line 4` in `useLocalStorage()` link is `https://usehooks-ts.com/react-hook/use-fetch` instead of
`https://usehooks-ts.com/react-hooks/use-fetch`. Change `/react-hook/` as `/react-hooks/`.

[2022-01-18 16:16] emulienfou commented on #84
@juliencrn Thanks for your answer, however I cannot apply what you're suggesting, otherwise I'm back having the behavior and error message:

```Warning: Prop `className` did not match. Server: "MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root css-iqmgqt-MuiButtonBase-root-MuiButton-root" Client: "MuiButton-root MuiButton-text MuiB

[2022-01-18 16:19] PabloLION opened #88 "CRA5 source map warning"
Hi team.
I'm getting this error with create-react-app 5.0 for all hooks.

[code]

And it has been complained a lot here:
https://github.com/facebook/create-react-app/discussions/11767

Should we add some source map support?

[2022-01-18 16:21] PabloLION commented on #84
I second @emulienfou . I was using MUI too and I thought my problem was from SSR. I didn't dig very deep into it. Let's hope someone knows how to fix this.

[2022-01-19 23:09] juliencrn commented on #81
Hi @PabloLION, thanks for your feedback (and for the PR 🎉  )

Good catch, it's true on your version of master, but I've renamed it to be more explicit.

Hm weird, it works well on my machine.  And, the `.demo.tsx` are in the `site/src` folder and should be reactive.

True, it was the case before, it was only watching files changes to re-build the lib. I've removed it, now there is only `npm run de

[2022-01-19 23:36] juliencrn commented on #84
We can't read `localStorage` and `mediaQueries` window API on SSR, it isn't an easy problem. You can try to set an arbitrary default theme mode, then, updating it during the hydration, or ensure that the `ThemeProvider` in mounted in client-side only code.

@emulienfou, Could you create a minimal reproduction of the bug to play with it?

[2022-01-19 23:38] juliencrn commented on #87
Hi @AjayTheWizard,
Oh yes, good catch! Thanks 👍

[2022-01-19 23:52] juliencrn commented on #88
Hi @PabloLION, interesting, thanks for the report, we will check it asap.

[2022-01-20 00:14] #87 closed

[2022-01-20 12:07] PabloLION commented on #81
I forked this repo and I didn't fetch on my forked repo.

I'll test with the latest commit again.

I just saw that it's under `/test-page`

That means we don't need to call out to run `npm run test` manually in the "How to contribute" Chapter.

[2022-01-24 04:19] GrayGalaxy opened #90 "`useLocalStorage` creates warning in Next.JS"
Next JS prebuilds pages, so when using the `useLocalStorage` hook it creates a warning link
[code]

[2022-01-24 18:13] juliencrn commented on #90
Hi @GrayGalaxy, thanks for the issue!

I've tried to reproduce the bug adding an `useLocalStorage` in the `pages/index.tsx` in an empty Next app and the `npm run dev` and `npm run build` then `npm run start`, but I haven't any warning message. How can I reproduce it?

[2022-01-25 00:03] juliencrn commented on #88
This is fixed, available on `usehooks-ts@2.2.2` 🎉
Thanks, @PabloLION for the bug report! 👍

[2022-01-25 00:03] #88 closed

[2022-01-25 02:35] #81 closed

[2022-01-25 02:49] juliencrn commented on #90
I've seen your PR. I think this isn't a bug. The hook uses a `window` API which is only available in the browser. Thus, if we try to call it in server-side, it prints a warning message to notice it to the dev, because it could create an unexpected behavior.

Your fix works to don't read `localStorage` in an SSR environment, but it's a regression. The `useLocalStorage` hook can be used in different

[2022-01-25 22:04] jeanlucmongrain opened #93 "useIntersectionObserver unexpected token"
I'm running 2.0.2 just fine and when I upgrad eto 2.2.2:

[code]

[2022-01-25 22:36] jeanlucmongrain commented on #93
`rm -rf node_modules` fixed that

[2022-01-25 22:36] #93 closed

[2022-01-26 05:16] GrayGalaxy commented on #90
The warning occurs in **next.js** `create_next_app` running on **local server**. I use it in component level on client side. Here is the code...
[code]

And here is the full error...
[code]
Don't know why this happen, but it did not happened with `create_react_app`, probably dye to caching. But using the `initialValue` instead of `readValue()` solved it.

[2022-01-28 00:06] juliencrn commented on #93
Thanks @jeanlucmongrain :)

[2022-01-28 00:50] juliencrn commented on #90
Hm, weird. I've re-test your component, and I haven't any warning messages.

This is my `package.json`:
[code]

I need more to help you, what else are you using, which versions? Would you create a bug reproduction?

[2022-01-30 11:59] GrayGalaxy commented on #90
Don't know what happened, I clan installed the dependencies now it's working fine.

[2022-01-30 15:37] juliencrn commented on #90
Weird, but cool if you're ok now (:

Maybe was the 2.2.1 release where i've updated how the lib was built (cjs/esm fix)

[2022-01-30 15:37] #90 closed

[2022-01-30 16:08] #63 closed

[2022-01-31 10:52] tilnea opened #97 "I need a "appropriate loader""
Hello!

I'm using a create-react-app (react ^17.0.2) and a storybook (^6.3.4)
If I'm trying to use the useLocalStorage hook, my storybooks fails (all my development is done in the storybook).

I get this error:

[code]

Do you know why? And how I can solve it?

Thanks!

[2022-01-31 13:54] juliencrn commented on #97
Hello @tilnea,

Thanks for your bug report (:

It's maybe because of useHooks upgrades to ES module in the `2.2.2`. You can try to delete your `node_modules` and re-install all, like is mentioned [here](https://github.com/juliencrn/usehooks-ts/issues/93).

Also, does your config using storybook support ESM?

You can be back to `usehooks-ts@2.2.1`, but I think it should work.

[2022-02-01 06:05] tilnea commented on #97
Hi, thanks for your fast response!

Yes, I did try deleting it all and re-install.

What I can see is "Storybook gained an experimental --modern mode and is now publishing modern ES modules." in v 6.3. I cannot find anything where I can config this..
But I also read this "Component Story Format (CSF) is the recommended way to write stories. It's an open standard based on ES6 modules that is portab

[2022-02-02 18:19] juliencrn commented on #97
Hi,
I just saw that Storybook supported ESM since 6.3 too, and you need at least node@12 and webpack@5 to work with ESM.

I think you can still write CSF stories, but the piece of code you want to test could include packages using ESM, and there is more and more ESM nowadays.

Could you create a minimal reproduction of your pb for me to could help you? Or else, share your `package.json`, I wanna c

[2022-02-08 11:44] arusak commented on #93
I use react-scripts@4.0.3 and have the same error message. Removing node_modules didn't work for me.
I've done a bit of investigation, and found a few solutions.

1. Update react-scripts to version 5.
2. Downgrade usehooks-ts to version 2.1.1
3. Add babel plugins `proposal-optional-chaining` and `proposal-nullish-coalescing-operator` into your babel config.

I use craco to tune my build, here's th

[2022-02-09 13:25] atatarenko opened #103 "Production build can no longer be successfully completed after 2.2.2 upgrade"
Hello there!

There is an error I can see after [the recent changes](https://github.com/juliencrn/usehooks-ts/compare/usehooks-ts@2.2.1...usehooks-ts%402.2.2) made to the ESM/CJS build setup.
It takes place when I try to execute `npm run build` with `NODE_ENV=production`. Here is the output:
[code]

I went down to the `node_modules/usehooks-ts/dist/` folder and checked if there is any difference b

[2022-02-10 12:16] juliencrn commented on #93
Thanks @arusak!

[2022-02-10 12:20] juliencrn commented on #103
Hi @atatarenko,

I think the #93 issue will help you :)

[2022-02-11 09:26] atatarenko commented on #103
It appeared that my Babel setup was already configured to handle the optional chain operator and null coalescing operator. What was not configured is the differentiation of the target browsers in the `.browserlistrc`.

So the previous version was:
[code]
I changed it to:
[code]

With those updated settings, I no longer see an error during the production build assembly.

[2022-02-11 09:26] #103 closed

[2022-02-15 18:38] juliencrn opened #110 "SSR issue using `useLayoutEffect()` with Nextjs"
I use `useHover` in my next app and have this error message:

[code]

Solution:

Something like:

[code]

[2022-02-18 08:39] lukeshiels commented on #110
+1

[2022-02-18 11:38] SimeonGriggs commented on #97
Would also like to see this reverted if possible. Not all tooling is ready for ESM only modules.

[2022-02-18 13:59] Kepro commented on #97
same here, can we please revert that ESM? :)

[2022-02-18 14:11] Jake-Lippert opened #115 "useElementSize() returns 0 width/height if initially rendered to the DOM within a parent with display: none"
When the element to be sized is within another element that's conditionally hidden/shown via display none/block, the hook can't determine its size once the parent is visible.  If you resize the browser, then the size will be correct at the time of resize.  However, if you hide the parent, the element will still report its size as being present.

For my use case, having a non-zero size reported onc

[2022-02-19 09:57] TunA-Kai commented on #115
I'm not sure if this is a good idea but I fix this by exposing `handlesize` function from the custom hook and call it when state(`isVisible`) change.

Here is demo: https://codesandbox.io/s/usehooks-ts-react-component-template-forked-80cvrv?file=/src/App.tsx

[2022-02-20 14:50] soullivaneuh commented on #97
Got the same issue but with a CRA + react-admin stack:

[code]

Going back to `v2.1.1` "solves" the issue.

[2022-02-20 22:23] juliencrn commented on #115
Hi guys, thanks for sending feedback :)

In my opinion, that isn't a bug, it's the normal css/js behavior.
A DOM Element that's `display: none;` (and its children) cannot either be measured or animated ([CSS Animate](https://www.w3schools.com/cssref/css_animatable.asp)).

Here, a vanilla JS example:

![Screenshot 2022-02-20 at 22 58 07](https://user-images.githubusercontent.com/14028029/154866190-

[2022-02-20 23:02] #110 closed

[2022-02-20 23:16] juliencrn commented on #97
I will work on this.
Technical, the update doesn't upgrade the package to an only `ESM module`, the `commonjs` version is still compiled.

Currently, I'm not sure where is the real problem, maybe in the project's configuration, maybe in the `usehooks-ts` package, maybe in the migration from `v2.1.1`. I prefer do not to revert but find why there is these bug and fix them properly.

You could indeed

[2022-02-20 23:16] #84 closed

[2022-02-21 13:59] Jake-Lippert commented on #115
I didn't end up going with your solution, but it did help give my mind a kick toward another solution.  :)

I ended up passing `additionalDependencies?: React.DependencyList` into the hook and combining that into the dependencies used by `useLayoutEffect`.

[2022-02-21 16:10] juliencrn commented on #115
Glad to help :)

[2022-02-22 04:27] TunA-Kai commented on #115
This hooks really bug me so I try to fix the problem without eposing or passing in the hook anything more.

I read the old version of this hook and I have to say using ref callback is really creative for me. But it comes with a cost

That means the ref only be updated when the component unmount. That's why if we change `display` from `block` to `none`, the component doesn't unmount and the hook do

[2022-02-22 09:39] jpveooys commented on #97
Hi,

`unpkg.com` may be useful for comparing the builds of different versions:

https://unpkg.com/browse/usehooks-ts@2.2.1/dist/
https://unpkg.com/browse/usehooks-ts@2.2.2/dist/

The ESM build was automatically picked up by Webpack here and caused some breakage. It's not common to transpile `node_modules` so I'd have thought the ESM build should be transpiled.

(There are also some untranspiled fi

[2022-02-25 06:39] alex-kowalczyk opened #118 "setValue of useLocalStorage should not change at each rerender"
The `setValue` setter function returned by `useLocalStorage` is re-evaluated every time,
resulting in a lot of re-writes when it is specified as a dependency of an effect or callback (while skipping including it as dependency sometimes results in missing storage write).

I suspect it should be wrapped in something like `useCallback(..., [setStoredValue])` to return a more "stable" object avoiding

[2022-02-25 09:46] adhamaa opened #119 "can/t deploy on cloudflare build error - useEventListener()"
17:37:06.484	Initializing build environment. This may take up to a few minutes to complete
17:39:30.143	Success: Finished initializing build environment
17:39:30.143	Cloning repository...
17:39:34.249	Success: Finished cloning repository files
17:39:35.123	Installing dependencies
17:39:35.126	Python version set to 2.7
17:39:36.152	Downloading and installing node v12.22.0...
17:39:36.313	Downloadin

[2022-02-27 00:40] juliencrn commented on #97
Hi everyone, I made some tests and did some researches and I think we have to move to a clean ESM-only package.

Here is why:
- ESM is supported since node@12 and node@10 is now obsolete. And here, we only use this package in modern React apps (at least React@16.8), not is old `nodejs` projects.
- ESM is necessary for a library like `useHooks`, indeed, there are some hooks' quantity, and you don't

[2022-02-27 00:45] juliencrn commented on #118
Hi @alex-kowalczyk, good catch! Thanks for your feedback. I will fix it

[2022-02-27 00:48] juliencrn commented on #119
Hi @adhamaa, thanks for reporting this. We are working on it and the fix will be in the next release. For now, I would recommend you to roll back to `usehooks-ts@2.2.1`.

[2022-02-27 16:09] #118 closed

[2022-02-28 15:12] TunA-Kai commented on #115
Hi @juliencrn,
Totally agree with your opinion. But I don't know how to test a custom hook so I can't make any changes to the test file. I could open an PR to update the demo and the hook itself though.

Base on your idea, I have changed the implementation of the hook again:
- Move `useRef` outside of custom hook. But I don't give a default type parameter to `HTMLDivElement` because I think specif

[2022-03-04 19:53] DCG-Erik commented on #119
Thank you for answering this with a specific version to rollback to.

[2022-03-09 16:32] Scalahansolo opened #123 "How to use useInterval but have the callback runRight away then on a delay"
Was looking through this lib and it looks awesome. In a project on my team, we have a version of the useInterval hook from Dan's blog post, but we made a small modification to it. We added the ability for the callback to be executed right away.

[code]

This has been useful for a handful of things. It seems like it would be generally useful, so I'm surprised that this isn't apart of the spec. But

[2022-03-15 18:59] patryk-smc opened #124 "useLocalStorage fails to set state if user browser blocks localStorage"
It would be nice if it could fallback more gracefully.

For now, I just copied useLocalStorage code and added that inside error catch:

[code]

[2022-03-29 06:43] trombipeti commented on #97
Hi, any progress on this? We're using create-react-app with typescript, and usehooks-ts 2.4.2 doesn't work (2.2.1 does).

I would be happy with 2.2.1 but it'd be great if we didn't have to stick to a specific version.

[code]

[2022-03-29 08:25] Kepro commented on #97
@juliencrn but that doesn't change fact that many people can just update project to esm... is there any issue with cjs and the double build?

[2022-03-31 13:39] akd-io commented on #97
Hitting this issue too. Will have to copy/paste the hooks for now.

[2022-04-01 19:49] jbean96 opened #132 "`setValue` should be referentially stable"
The `setValue` for `useLocalStorage` should be stored in a ref and a callback should be returned that invokes that ref i.e.

[code]

This allows that `setValue` (like `setValue` returned from `useState` is referentially stable and does not need to be included as a dep in functions wrapped in `useCallback` that use this method.

[2022-04-01 19:52] jbean96 commented on #132
Note that this is related, but not the same as https://github.com/juliencrn/usehooks-ts/issues/118.

[2022-04-01 22:12] jbean96 commented on #132
I've created a PR to address this https://github.com/juliencrn/usehooks-ts/pull/133

Although it should be considered a breaking change, I think it's a fine one to make as it makes the API of `useLocalStorage` more akin to that of `useState`.

[2022-04-07 06:45] ZhaoTim opened #134 "Why useIsMounted hook return a function instead of react ref?"
<img width="1072" alt="image" src="https://user-images.githubusercontent.com/30540533/162136489-96378988-8ace-4b7b-b4d6-f088c6deb091.png">

Can anyone tell me? Why can't we just return isMounted.current and what is the purpose of using usecallback to wrap?

[2022-04-11 12:42] juliencrn commented on #132
Thank you, @jbean96, I've just approved your PR, I will publish it asap 🎉

[2022-04-11 12:42] #132 closed

[2022-04-11 13:22] juliencrn commented on #134
We just have preferred use `isMounted()` than `isMounted.current` as public API as you can see in the [`Usage section`](https://usehooks-ts.com/react-hook/use-is-mounted#usage).

[2022-04-11 13:22] #134 closed

[2022-04-11 14:34] juliencrn commented on #123
Hi @Scalahansolo,
Thanks for your message, and sorry for the answer time...
Indeed, you are able to reproduce this behavior passing `0` as delay.
I will update the documentation to explain this useful possibility, thank you!

[2022-04-11 14:34] #123 closed

[2022-04-11 16:39] #119 closed

[2022-04-12 07:15] oliexe commented on #97
Same issue here

[2022-04-25 13:43] juliencrn commented on #119
@DCG-Erik still not.
There are two options:
- You are in an ESM environnement, you can upgrade to the latest version
- You are in CommonJS, you must pin `useHooks-ts` to `2.2.1`

[2022-04-27 15:22] ddisimone opened #141 "Event bubbling"
Hi :)

What if i need an event bubbling ?

`targetElement.addEventListener(eventName, eventListener, bubbling || false)
    return () => {
      targetElement.removeEventListener(eventName, eventListener, bubbling || false)
    }
  }, [eventName, element])`

[2022-04-29 17:13] jamestenglish commented on #97
@juliencrn From the gist you linked Create React App doesn't yet support full ESM. It seems counter productive to publish a react library that isn't compatible with CRA which is probably the most used react setup. I'd love to use this library but I think it is a bit much to ask everyone to eject their CRA apps just to utilize it.

[2022-04-29 19:21] juliencrn commented on #97
@jamestenglish, like this thread describe it, there are some cases where we are ESM compatibility issues.
But `useHooks-ts` works like a charm with default CRA.

[2022-04-29 22:15] 3GOMESz opened #143 "useEffectOnce may render two times with React.StrictMode"
https://stackoverflow.com/questions/48846289/why-is-my-react-component-is-rendering-twice

[2022-04-29 22:16] 3GOMESz commented on #143
Maybe a solution:

[code]

[2022-04-30 06:22] mojtaba-hajishah commented on #119
I have the same error log in Sentry. I'm using v 2.5.1 .
Environment: Nextjs v 12.1.5.

[2022-05-01 07:21] Chandler-Zhu opened #146 "The example in useDarkMode() doesn't work"
In the example of `useDarkMode()` hook, when I click the button, the text color and the background color doesn't change. Please fix it, preferably using tailwind classes

[2022-05-01 18:52] proteriax commented on #146
`useDarkMode` just manages the state of dark mode, it doesn’t do the hard work of writing CSS for you. This is grossly out of scope.

[2022-05-02 12:25] juliencrn commented on #146
thanks @proteriax

[2022-05-02 12:25] #146 closed

[2022-05-02 12:58] juliencrn commented on #143
Hi @3GOMESz, indeed yes, good catch! Thanks!

Would you submit a pull request with this change? If not, don't worry, I could do it later :)

[2022-05-02 13:11] 3GOMESz commented on #143
Here it is : )

[2022-05-02 13:12] juliencrn commented on #97
If someone knows how to fix it or want to give a try to make this library CJS/ESM compatible, it is really welcome.
I think a double build with a correct CJS/ESM detection in the `package.json` could be good, but each time I try to make it, I'm not able to make it working well on both environments.

A very important point to keep in mind is keeping the tree-shaking functionality working, I don't w

[2022-05-02 13:24] #143 closed

[2022-05-12 14:11] jherr opened #150 "useEffectOnce never calls the cleanup function"
With this change: https://github.com/juliencrn/usehooks-ts/issues/143 The `useEffectOnce` hook now no longer calls the cleanup function:

[code]

You can try this out live here:

https://codesandbox.io/s/angry-diffie-fj3ek6?file=/src/App.js

This fix comes from a blog post on AG-Grid that I think is also in error. That code assumes that the custom hook gets called to set `renderAfterCalled` to tru

[2022-05-13 09:33] hepiyellow opened #151 "useMediaQuery - hydration mismatch: shouldn't it use useIsomorphicLayoutEffect ?"
The hook as it is right now is causing hydration mismatch.

If I change it to use `useIsomorphicLayoutEffect` (instead of `useEffect`),
the the hydration warning is gone, and it seems to work.

I don't fully understand yet what exactly is going on,
but could it be the proper solution?

[2022-05-13 09:36] #151 closed

[2022-05-13 09:36] hepiyellow commented on #151
oops

[2022-05-15 16:31] jherr commented on #150
Resolved with https://github.com/juliencrn/usehooks-ts/pull/152

[2022-05-16 10:29] juliencrn commented on #150
Indeed, well done, thanks!

[2022-05-16 10:29] #150 closed

[2022-05-17 10:23] ornakash opened #154 "debounced useElementSize()"
Well it's not an issue so I hope it's OK I am putting it here.

Is it possible to add a debounce to useElementSize hook? I need this because I have a very large component that I don't want to re-render on every resize pixel change, only 2 minutes after and that it will happen only once.

What I tried:
[code]

But that doesn't work properly because it shows all the re-renders after 2 seconds, I see

[2022-05-17 12:28] juliencrn commented on #154
Hi @ornakash,

What you could do is compose `useElementSize` with `useDebounce` and read the debounced size instead of the size given by `useElementSize`.
I've made a little example here: https://codesandbox.io/s/usehooks-ts-react-component-template-forked-jpmg3d?file=/src/App.tsx

[2022-05-17 12:40] juliencrn commented on #97
Hi everyone,
I've made a test package with a hybrid build esm/cjs using babel.
I've made some tests using hardhat (cjs), ESM (cra, gatsby) and it works too with webpack and storybook.

Currently, there are two output:
- transpiled unbundled commonjs
- transpiled unbundled ES module

If necessary (IDK), we could add a bundled ESM version and an AMD/UMD too.

I've added a temporary utility function

[2022-05-17 15:11] ornakash commented on #154
Thank you so much! eventually I ended up with this:
[code]

It seems to work perfectly :)

[2022-05-17 16:17] juliencrn commented on #154
Cool, glad to help, your code seems well too, thanks :)
But for this library, I prefer to keep things separated and composable.

[2022-05-20 12:47] sebahhpeya opened #155 "Hydration Error with NextJS"
Hi! I'm using the useMediaQuery hook and couse a hydration error with NextJS.

create a file  in `pages/hello.tsx`

[code]

and i needed to do something like this:

[code]

If you check the console with the first example you can get an hydration error.

I could fixed the error with the second code example but it is just to share with you the issue.

Thanks for your work!

[2022-05-23 04:49] PabloLION opened #156 "Improve useCountdown"
Hi again @juliencrn, I just moved back to react. I'm thinking on improving the `useCountdown` hook. But there would be breaking changes so I want to firstly have a small discussion with you.

## Breaking changes

In the [example usage](https://usehooks-ts.com/react-hook/use-countdown)

[code]

1. (important) Rename `seconds` to `countNumber` or `startingCount`, `countStart`, etc. Since it is not t

[2022-05-23 13:53] juliencrn commented on #97
Is `test-usehooks-ts` solving your loader issues?

[2022-05-23 14:54] juliencrn commented on #155
Hi @sebahhpeya, thanks for reporting an issue. I got it too, but I think it's not really a hook issue, but the normal behavior. Indeed, React doesn't know anything of the viewport on the server side.

You could consider using `React.Suspense` for this kind of conditional display.

[2022-05-23 14:54] #155 closed

[2022-05-23 16:32] PabloLION commented on #156
Thanks for the confirmation. Working on it now.

On a second thought , maybe we can firstly keep the old functions and `console.warn()` about the deprecation when user uses the old ones, and then remove the old names in the next big version of usehooks-ts. What's your opinion?
Also, I'm thinking about using [@microsoft/tsdoc](https://www.npmjs.com/package/@microsoft/tsdoc) to add a `@deprecated` t

[2022-05-23 18:49] Johannes5 opened #157 "useEventListener - unexpected token"
I had this on the latest version:

[code]

[2022-05-23 19:28] juliencrn commented on #156
Slowly depreciate the old interface is really a good idea 👍

I don't know if a package is needed to depreciate a function, adding a `@depreciated` JSDoc comment  and the `console.warn()` could be enough.

For the rest, try to keep the things as simple as possible, and we will see. You seem inspired, it's cool! Suit yourself 🤙

And yes, we need a staging v3 branch, I will create it.

[2022-05-23 19:33] juliencrn commented on #157
Hi @Johannes5, thanks for reporting the bug! I think it is related to #97, so you can use `usehooks-ts@2.2.1`, or you also can try our test v3 `test-usehooks-ts` where we have fixed this problem.

[2022-05-23 19:33] #157 closed

[2022-05-23 20:18] PabloLION commented on #156
I didn't mean that package.. Its JSDoc improved to TSDoc, like JS - TS. You can just regard it as JSDoc.
I'll try to do the two versions and make 2 PRs. Thanks for the guidance. ❤️

[2022-05-23 21:09] PabloLION commented on #156
Sorry that I'm having problem again... I tried to check the old solution https://github.com/juliencrn/usehooks-ts/issues/81#issuecomment-1015139681 but it has been changed, so I had to ask:

1. I cannot run `npm bootstrap`, and tried to diagnose with myself.
2. Cannot run `npm ci`
3. Cannot run `npm install`

<details>
<summary> Error of `npm install` </summary>

[code]

[2022-05-23T20_59_27_660Z-

[2022-05-24 04:03] PabloLION opened #158 "useInterval should return an interval or clearedInterval"
I was reviewing the code of `clearInterval` hook by @juliencrn and had 3 doubts.

## Doubts

### How to clear interval

I see `function useInterval(callback: () => void, delay: number | null): void` returns void, so there's no way to clear the interval, right? If so, I think we can offer a `clearInterval` or the interval itself.

### Typing of `delay`

Since we have `delay: number | null`, can we

[2022-05-24 10:47] juliencrn commented on #156
Have you tested to install from a fresh git clone?
Are you using node@16 and npm@8?
Or maybe is there an issue with node-gyp-build, is this (https://github.com/kelektiv/node.bcrypt.js/issues/153) helping you?

The last `master` branch should work

[2022-05-24 10:51] PabloLION commented on #156
I haven't tried with fresh clone. I'll try that later.

I'm using node 18.2.0. I think there could be compatibility issue between note 14 and 16 but after 16 I don't see breaking changes So I assumed it was OK.  I also test that.

[2022-05-24 11:15] hexp1989 commented on #156
Hi PabloLION. Sorry to see this late.
The variable name's change is great. At first I was thinking of being more concise. So I added some jsdoc and use destructuring alias and make your own exact naming. But in typescript doesn't look good.
Your advice is great and I gladly accept. :)

[2022-05-25 00:34] PabloLION commented on #156
it seems node 18 was the problem here. After having a new git clone, node18 still gives the same error, and with node16 everything worked fine

[2022-05-25 00:43] PabloLION commented on #156
It seems that node@18 was the problem here. After having a new git clone, node@18 still gives the same error, and with node@16 everything worked fine. Also I tested with node@17 (not working). I'm changing the README file so it would be less misdirecting.

[2022-05-25 01:34] PabloLION commented on #158
I didn't know this before, thanks for the clarification. I thought the `delay` was immutable and it's useless until seeing the example🥲  Sorry.

This actually solves all my three doubts.

[2022-05-25 01:34] #158 closed

[2022-05-26 18:30] PabloLION commented on #156
Nice call. Please create 🤣

[2022-05-27 00:03] ShravanSunder opened #162 "The requested module 'usehooks-ts' is a CommonJS module, which may not support all module.exports as named exports."
Hi, i'm getting issues when i use a package that uses usehooks-ts as a dependency.
- eth-hooks is a esm module with `type='module'`
- i'm trying to build a next js app
- here is the branch if you need it:  https://github.com/scaffold-eth/scaffold-eth-typescript/pull/91

I'm wondering if i need to have any settings?  i thought usehooks-ts was a esm module now?  @juliencrn

[2022-05-27 00:04] ShravanSunder commented on #162
- maybe related to #97

[2022-05-30 05:51] trombipeti commented on #97
Hi, just tried it - no, it doesn't seem to help.

I did
`npm install test-usehooks-ts`
`npm remove usehooks-ts`

I also updated the imports etc. I even deleted node_modules and did a fresh npm install.
I still get:

[code]

[2022-05-30 10:12] juliencrn commented on #162
Hi @ShravanSunder, thanks for reporting issue

Yes, current `usehooks-ts` should be ESM (as well as in the `eth-hooks` package, it should work.
And yes, it's related with #97 which we are working on.

[2022-05-30 10:12] #162 closed

[2022-05-30 10:43] juliencrn commented on #156
V3 -> https://github.com/juliencrn/usehooks-ts/tree/v3 :)

[2022-05-30 12:46] trombipeti commented on #97
There you go
[code]

[2022-05-30 15:16] juliencrn commented on #156
Hi guys, now merged in master, it will be published soon (today). Thanks again 👏

[2022-05-30 15:16] #156 closed

[2022-05-30 15:46] ShravanSunder commented on #97
Shouldn't all the files in esm folder be generated with  `mts` or `mjs` since  the package.json doesn't specify `type: "module"`?

[2022-05-30 15:55] juliencrn commented on #97
Hi @ShravanSunder,

You can test the hybrid version replacing `usehooks-ts` by `test-usehooks-ts`.

Hmm, files are still in `.js`, but they are created twice in `dist/esm/*.js` and `dist/cjs/*.js`. I think it could work, maybe I'm wrong.

[2022-05-30 16:00] ShravanSunder commented on #97
@juliencrn  i manually tried to change the package.json to the following for a test:
[code]

it looks like now the module is being loaded as esm.  However there's another issue due to the export used

[code]

i think we would need to use extensions in the import / export to make it work with esm.  i.e. import './folder/file.js'

[2022-05-30 16:07] ShravanSunder commented on #97
if i change the exports to esm specification they seem to work.  i.e. `export * from './useBoolean/index.js';` in `esm/index.js`

[2022-05-30 22:11] ShravanSunder commented on #97
@juliencrn  i think you might have to add exports as well to package.json to specify how the modules should be exported
[code]

[2022-05-31 03:29] nguyenvannghi opened #163 "Listen event visibilitychange not found in useEventListener hooks"
Coding:
[code]
Error:
`Argument of type '"visibilitychange"' is not assignable to parameter of type 'keyof WindowEventMap'`

[2022-05-31 10:02] juliencrn commented on #163
Good catch! Indeed, we support `WindowEventMap` and `HTMLElementEventMap` now, we will add `DocumentEventMap` as well. Thanks

[2022-05-31 10:28] juliencrn commented on #141
We will support it soon, but while waiting, you can do that: https://codesandbox.io/s/usehooks-ts-react-component-template-forked-75ohbn?file=/src/App.tsx

[2022-05-31 10:29] juliencrn commented on #163
We will support it soon, but while waiting, you can do that: https://codesandbox.io/s/usehooks-ts-react-component-template-forked-75ohbn?file=/src/App.tsx

[2022-05-31 11:32] ShravanSunder commented on #97
@juliencrn So good news `test-usehooks-ts` works with my nextjs esm app.  The esm-cjs branch seems to produce esm and the app is using it as esm :)

Is it possible to release it as `beta` in `usehooks-ts` its rather inconvenient and error to change package names in the code.  thanks for all the hard work!

[2022-05-31 11:46] juliencrn commented on #97
Good to know, but we don't really want to have to put the extension in the import you know. Maybe renaming the transpilled files to mjs could fix it you told? It was with which codebase? The current package or `test-usehooks-ts` ?

Super cool, it was the goal 😎

Yes, we will do it, it's better indeed.

[2022-05-31 11:51] ShravanSunder commented on #97
this was with usehooks-ts (the original package), but i think this was a wrong assumption in my part.

I do still have issues with non dynamically loaded files in nextjs, it seems to think that tey are cjs modules, but its a bit strange.  i'm going to dig into this a bit more.

[2022-05-31 11:56] ShravanSunder commented on #97
@juliencrn  one thing i notices is in the babelrc file

i think for esm, the modules should be set to false or esm?  i'm not sure esm is default?

[code]

[2022-06-01 03:04] ShravanSunder commented on #97
@juliencrn i did some more expriments.  so the `test-usehooks-ts` works if i import it directly, but does not if it is imported in `eth-hooks`.

Something in my packaging causes `test-usehooks-ts` to default to commonjs even though my package is esm.  I'm using esbuild to package eth-hooks, so it might be related to:  https://github.com/evanw/esbuild/issues/2164.

i'm a bit stumped at the moment.

[2022-06-01 07:56] nguyenvannghi commented on #163
Cool

[2022-06-17 15:29] Chandler-Zhu opened #170 "useLocalStorage() store the incorrect value"
I was using a component library with [usehook-ts](https://usehooks-ts.com/react-hook/use-local-storage), and I want to save the user's rating in localStorage so next time they visit the same page they can see the rating. Now the current behavior I am getting is after user interact with the rating component, when they come back again or simply refresh the value is always 5 out of 5 no matter what t

[2022-06-19 19:01] createdbymahmood commented on #85
I'll take this.

[2022-06-20 10:49] juliencrn commented on #170
Hi, I think the problem comes from the other lib or your implementation. I've added a `console.log(value)` in your `saveRating` function and I saw two things:
- when you click on a star to rate, there is an infinite loop
- and the `value` isn't a number between 0 and 5 but a `CustomEvent` from the lib.

If you inspect localStorage, you can see that the `memento` value is `{ isTrusted: false }` and

[2022-06-20 10:49] #170 closed

[2022-06-20 18:24] #85 closed

[2022-06-20 18:44] juliencrn commented on #163
Done in `2.6.0`

[2022-06-20 18:44] #163 closed

[2022-06-20 18:45] juliencrn commented on #141
Done in `2.6.0`

[2022-06-20 18:45] #141 closed

[2022-06-21 03:52] fadhilx opened #173 "useEventCallback not available in the documentation"
in snippet/example below, it require `useEventCallback` hook, but not available on the docs;
https://usehooks-ts.com/react-hook/use-session-storage

it does exist in source file
https://github.com/juliencrn/usehooks-ts/blob/8f8c9850dd136dbc2e349048194e95b0877888a7/lib/src/useEventCallback/useEventCallback.ts

[2022-06-21 11:35] juliencrn commented on #173
Hello, yes indeed, you're superfast, it was added yesterday 👏

For now, it's just a private hook, but if you want to create the documentation page, it's welcome

[2022-06-22 20:44] fadhilx commented on #173
oh, i didnt realized it at that time, what a coincidence, you add it right before i want to used it. thanks for the awesome repo

[2022-07-02 17:33] roker15 opened #176 "useSessionStorage causing React+Nextjs application crash. Error "Hydration failed because the initial UI does not match what was rendered on the server""
My application was working fine. I was required to refresh pages without losing state. so i replaced `useState `with `useSessionStorage `wherever required. Now it throwing error
`Hydration failed because the initial UI does not match what was rendered on the server`

This [Link](https://nextjs.org/docs/messages/react-hydration-error) might help but not sure.

[2022-07-04 23:11] SamuelQuinones opened #177 "[Suggestion] Update use event listener implementation"
Hello,

I'm not sure if this is the right place to do this but I have a suggestion on how to change the `use-event-listener` hook to make it more dynamic.

This change would be probably be breaking as it changes the input parameter args, but the actual implementation would not be that different:

[code]

You may also see that there is a custom `resolveElement` function, that looks like this:

[cod

[2022-07-05 10:45] boazpoolman opened #178 "Linting errors for useCopyToClipboard"
Maby I'm doing something wrong, but I'm getting `unsafe` linting errors when using the useCopyToClipboard hook.
![Schermafbeelding 2022-07-05 om 12 44 05](https://user-images.githubusercontent.com/9551934/177311042-919602b0-81d9-425b-9ca8-1b4f31335465.png)

[2022-07-14 11:51] jdpt0 opened #182 "React 18: useIntersectionObserver loses binding when ref conditionally rendered"
In the below example I'm passing in an infinite react-query hook into this component to load more results once the bottom of the list has been reached. With `useIntersectionObserver` this happens the first time, but after that, the binding is lost and the `Load more` button has to be clicked to initiate the fetching of the query. Tested on React 17 and works as expected.

A better pattern might be

[2022-07-22 10:58] kg-currenxie opened #186 "IntersectionObserverInit type"
What's this? Seems missing

[2022-07-22 12:26] juliencrn commented on #186
That's the native IntersectionObserver options like this

[code]

https://usehooks-ts.com/react-hook/use-intersection-observer
https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

[2022-07-22 12:26] #186 closed

[2022-07-22 12:29] kg-currenxie commented on #186
Ok thanks :) I had the wrong TS version configured in my vscode

[2022-07-24 18:30] oviirup opened #188 "Error parsing data that are stored manually or by other means"
When you set a local-storage item manually or by other means which is not using the hook, it throws an error.

I am using a custom script to store `theme` info which is just a string, so it does not need to be stringified. But when I am accessing the stored item using the hook it is sending `undefined`.

### Local storage
`theme` : `dark`
### Relevant log output
[code]

### Possible cause
This is

[2022-07-28 21:04] parkerault commented on #182
This is just because the dependency array in the useEffect in `useIntersectionObserver` is using the ref instead of ref.current. I just ran into this and changed the dependency array and it works as expected now. I will submit a PR in a bit.

[2022-08-07 02:04] mnelsonwhite commented on #173
Why not close this issue?

[2022-08-17 08:28] dora-ljh opened #192 "useScreen 中 handleSize 失效"
当你使用 useScreen 的时候你会发现改变window的size screen是不会改变的
`const useDetectDevice = () => {
  const screen = useScreen();
  console.log('screen', screen);
};`
是因为在 window.screen 并未改变对象地址，从而 useState 并没有触发更新，所以
`useEventListener('resize', handleSize)`
这行代码在 useScreen 中是无效的
![image](https://user-images.githubusercontent.com/35205701/185071910-499c0d97-5ab7-4660-9e5f-42a0e9b33ac3.png)

[2022-08-17 23:49] nightness opened #193 "[Suggestion] useFetch, delayed for non-GET"
The code below is a bit customized for my needs, but it should be easy to follow... The point of this change to for non-get methods to have a delayed fetch call... so I implemented a setBody state that does the setting of the body. I'd PR but don't have the time to.
Usage (get):
[code]
Usage (post):
[code]
Code:
[code]

[2022-08-26 09:32] philipgher opened #196 "useElementSize ref not passable to other hooks"
It is currently not possible to easily pass the ref exposed from `useElementSize` to other hooks.

As the `useElementSize` hook internally stores the ref in a state while exposing the ref via the type `(node: T | null) => void` it is not a "normal" RefObject thus not useable by passing it to other hooks.

My usecase is having 1 ref that is attached to a scrollable container. I'd like to monotor th

[2022-08-26 09:39] philipgher commented on #196
I've hacked up a workaround by exposing the ref as a normal RefObject<T> being a third element in the return array.

Resulting in the type:
[code]

This is achieved by doing the following:

[code]

In the component this usage looks like this:

[code]

Although the workaround does work, I am personally not a huge fan of the double ref in the returned array.

Maybe someone has a better idea of imple

[2022-08-30 06:05] johnmarcou commented on #155
I am not NextJS expert, but could that be related with this @juliencrn?

https://github.com/astoilkov/use-local-storage-state/issues/50#issuecomment-1123306107

[2022-09-01 06:22] Nejjer opened #201 "A large number of errors"
I just use it and get a lot of errors like this
[code]

[2022-09-02 23:15] curtvict opened #202 "[Feature] useDocumentTitle"
I'm curious if the community would fine this simple hook useful:

[code]

It's just a lil something we've had sitting around our codebase which cleans a pretty repeatable pattern up pretty nicely.

If so I'm happy to spin up a PR to include it.

[2022-09-02 23:24] curtvict opened #203 "[Suggestion] useScript"
I'm curious if the community would find this change to the call signature of `useScript` at all useful:

[code]

`shouldLoad` could be used for something, like, an environment or privacy flag:

[code]

`removeOnUnmount` could be used to remove the created script when the component calling `useScript` unmounts. Examples could be "one-shot" third party scripts that someone might just want to be pres

[2022-09-06 09:06] valyrie97 opened #204 "useLocalStorage set function does not entirely comply with useState"
the set function given by useState, guarantees that if it is called with a function argument, the first parameter will be the current value of the state. However, in useLocalStorage, this is not always true. in the case that a render does not happen between two set calls.

Example:

[code]

This code will print out
[code]

useLocalStorage on the other hand:

[code]
[code]

The problem stems from [

[2022-09-08 09:31] gregatgoogle commented on #155
@juliencrn, [MUI's `useMediaQuery` seems to implement some mechanisms to support SSR](https://github.com/mui/material-ui/blob/c987cfb8708c55c7616da0e98378451b7e12f893/packages/mui-material/src/useMediaQuery/useMediaQuery.ts).
Perhaps it's worth taking a look and utilising those ideas in usehooks-ts? IMO a two-pass rendering is better than having to remember not to useMediaQuery in SSR pages.

[2022-09-13 06:06] Nishchit14 opened #205 "useElementSize renders 3 times"
`useElementSize` is causing multiple re-rendering. It renders components three times at the first load.

[2022-09-19 17:57] herlon214 opened #210 "Update React dependency to 18"
Hello, I moved to react 18 and would like to know if there's a chance of updating the React version here to 18 instead of 17.

I saw this PR https://github.com/juliencrn/usehooks-ts/pull/164 but it got closed and wasn't merged. Is there any reason?

I think this is the line that is causing the error:
https://github.com/juliencrn/usehooks-ts/blob/b87b0aa3e564f1e344603bb8f04550b561c67c2f/package.jso

[2022-09-19 18:07] juliencrn commented on #210
Hi @herlon214, indeed we don't support yet react 18, we will soon. Thanks

[2022-09-19 18:10] juliencrn commented on #205
Hi @Nishchit14, please could you create a minimal reproduction of your problem, by example in a [codesandbox](https://codesandbox.io/).

[2022-09-19 18:15] juliencrn commented on #204
Hi @valyrie97, thanks for reporting. Yes, if you want to create a PR, it's welcome, else, could you share your current implementation 🙏

[2022-09-19 18:20] juliencrn commented on #203
Hi @curtvict,
Yeah, it's a cool idea, I'll be happy to review your PR.

What about a signature like this ?
[code]

[2022-09-20 06:04] brightsider commented on #88
This happens again :(

[2022-09-20 12:38] yairy opened #211 "Source maps seem to be broken in 2.7.0"
Since the version upgrade from 2.6.0 to 2.7.0, getting the following error repeatedly when trying to build a CRA app:

[code]

[2022-09-20 13:29] lewxdev opened #212 "Initialize windowSize state in useWindowSize to actual window dimensions"
Small issue, but I've noticed that initializing the WindowSize to `{ width: 0, height: 0 }`
1. can cause some unpleasant UI/UX when using it for processing the layout and
2. causes an unnecessary initial render

I understand using the `window` object without clear intentionality can cause issues with SSR,
but I'm curious if it's possible to use [the lazy initial state of `useState()`](https://reac

[2022-09-20 13:41] mjarlund commented on #211
Seems to be broken in 2.6.0 as well, I tried downgrading and it still gives me warnings about the missing source maps.

[2022-09-20 13:48] yairy commented on #211
2.6.0 works for me, did you omit the ^  from the version number?
`    "usehooks-ts": "2.6.0"
`

[2022-09-20 14:19] mjarlund commented on #211
Yes I did, I just figured it out, it was an issue related to running node 16.13.1 for some odd reason, I've upgraded to 16.17.0 and experiencing the same thing you are.

[2022-09-20 17:34] lancegliser opened #213 "useWindowSize debounce options"
I noticed that useWindowSize is hard coded without a method debounce the `setState` call. It causes a significant overhead that I lack a means to offset. I rigged up a super basic optional debounce built on `lodash` to open discussion about how we could handle it. Obviously we'd want to substitute this package's debounce if we use it. There's some conversation to be had about exporting the `setTim

[2022-09-21 02:14] PabloLION commented on #88
Maybe we should @juliencrn

[2022-09-21 08:53] sharvit commented on #210
Thanks @juliencrn, Is there anything that should be done to support react v18?

* I could install the latest version on a react v18 project, and the few hooks I used worked fine
* I forked and updated to react v18, the tests and the build works fine, see: https://github.com/juliencrn/usehooks-ts/pull/214

[2022-09-22 15:07] juliencrn commented on #211
Source-map have been removed in usehooks-ts@2.7.1

https://github.com/juliencrn/usehooks-ts/releases/tag/usehooks-ts%402.7.1

Is everything ok?

[2022-09-22 15:58] herlon214 commented on #210
That's really nice @juliencrn, I will close the issue, thanks!

But unfortunately I already moved to another library =/

[2022-09-22 15:58] #210 closed

[2022-09-22 18:21] #173 closed

[2022-09-22 18:32] yairy commented on #211
@juliencrn Yes, it's okay now. Thanks a lot   🙏

[2022-09-22 18:32] #211 closed

[2022-09-22 23:03] juliencrn commented on #88
Source-map have been removed in usehooks-ts@2.7.1 (https://github.com/juliencrn/usehooks-ts/releases/tag/usehooks-ts%402.7.1). Thanks for reminding :)

[2022-09-25 23:05] Dchole opened #216 "[Feature] useMutationObserver"
I have a [`useMutationObserver`](https://codesandbox.io/s/mutation-observer-hook-rrzwsw?file=/src/useMutationObserver.ts) hook that handles the [MutationObserver API](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) in my react code.

The MutationObserver API is very similar to the [IntersectionObserver API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_A

[2022-09-29 22:53] lightbluepoppy opened #217 "useElementSize() throws an error when you change the element size rapidly"
I tried this [snnippet](https://usehooks-ts.com/react-hook/use-element-size) from the docs on CodeSandbox;

[code]

It throws an error when you resize the viewport rapidly.

[code]

I tried to use `setInterval()` but it didn't help.

I figured out a workaround. I added a log thrower in a useEffect and it magically solved the problem. Why?
[code]

It's out of the topic but does anyone know how to r

[2022-09-30 09:19] #202 closed

[2022-09-30 15:28] #203 closed

[2022-10-03 16:00] runtothedoor opened #226 "useEffectOnce render two times with React.StrictMode"
Old Issue: https://github.com/juliencrn/usehooks-ts/issues/143

[2022-10-03 16:11] #226 closed

[2022-10-03 16:19] runtothedoor commented on #150
I stopped to think and you are totally right @jherr. I would like a way to detect strict mode in a safe way but from what I've tried so far, things haven't worked so well.

I believe that the cleanup function working is much more important than bypassing React.StrictMode

@juliencrn

[2022-10-04 22:10] jonsherrard commented on #217
I have the same issue.

[2022-10-05 14:40] TomSmedley opened #227 "[Feature Request] useFocusTrap()"
This would be helpful for building accessible modals.

(https://www.npmjs.com/package/react-focus-lock)

[2022-10-09 12:14] carloscasalar commented on #205
You can see it using the react dev tools with the provided example code.

Maybe the problem with this component is the self management of the ref. What about receiving the ref by parameter? With this approach maybe we could fix #196 as well. WDYT?

[2022-10-10 09:08] xegulon opened #228 "`useEventListener` with `CustomEvent` causes TS error"
When doing:

[code]

I get a TS2344 error: `cannot assign  'upload:success' to type keyof DocumentEventMap`

Although in the docs:

[2022-10-11 02:34] ryancwalsh commented on #90
I'm having problems in Next.js too and would appreciate any tips if you have a moment: https://stackoverflow.com/questions/74022328/how-to-solve-react-hydration-error-in-next-js-when-using-uselocalstorage-and

[2022-10-11 16:44] JonLemOfficial opened #229 "Is `usehooks-ts` hooks completely compatible with React Native?"
I tried using ts hooks in RN but, i would know if are completely compatible with bare React Native/Expo apps?

[2022-10-12 01:14] juliencrn commented on #229
Hi, I don't know, never tried and no feedback yet. It works for you?

[2022-10-12 22:42] juliencrn commented on #228
Hi @xegulon, you can declare the event to Typescript using:

[code]

[2022-10-12 22:55] juliencrn commented on #216
Awesome hook! Yes, it's more than welcome 🙏
You could use the `npm run plop` script to create the hook boilerplate.
Thanks!

[2022-10-12 23:09] juliencrn commented on #213
Yes, we should implement the debouncing, I will do it soon. Thanks for sharing that code!

[2022-10-13 01:03] mike247 opened #232 "Transpile optional chaining"
Hi

We have noticed the optional chaining is not transpiled out in your releases - this causes issues with cypress and a bunch of other downstream dependencies that require es6 code to run.

Are you able to update your targets to transpile the optional chaining out?

Cheers

[2022-10-13 01:28] juliencrn commented on #232
Hi @mike247,

Good catch, Thanks!

Thus:
- `commonjs` will be transpiled to `es5`
- `es module` will be transpiled to `es6`

It will be in the `2.9.0` release.

[2022-10-13 10:07] valentinpolitov opened #233 "`useBoolean`, `useCounter`, `useLockedBody` and `useSidebar` hooks uses `ReturnType` as output, witch is a reserved utility type in TS"
This is causing a TS4023: Exported variable 'X' has or is using name 'ReturnType' from external module "/node_modules/usehooks-ts/dist/esm/useBoolean/useBoolean" but cannot be named.

[2022-10-13 14:28] canpoyrazoglu commented on #229
I don't think so.

Even if it does, it is bound to a very narrow node/React Native version combination:

Have it too low and you can't install the library. Have it too high and you can't use React Native (at least, the version that I've tested) due to transformer errors.

[2022-10-13 18:37] #233 closed

[2022-10-14 09:30] marnusw opened #236 "Use `ResizeObserver` for `useElementSize`"
The `useElementSize` hook doesn't react to changes in the size of the element during CSS animations, instead it jumps to the final size instantaneously. This because `useEventListener('resize', handleSize)` listens to `window` resize events, and not actually element resize events.

I'd like to propose using `ResizeObserver` for this hook instead of the current implementation. `ResizeObserver` is s

[2022-10-15 16:36] amritk commented on #229
Hey it used to be, we were using it but something has broken lately and it stopped working.

[code]

[2022-10-17 03:37] FredericoGauz opened #239 "Special clicks and presses"
Hi,

first of all, thank you for the wonderful library! I feel that it is very well written and documented.

I was wondering if there would be interest to add hooks for things like long clicks, keyboard presses and things like this. I have written a few of that in the past and thought that it would be nice to contribute them to the project but I don't want to create a pull request that is not comp

[2022-10-17 08:31] xegulon commented on #228
Thanks a lot! (could be great if it was added to the docs as an official way of doing things)

[2022-10-17 08:31] #228 closed

[2022-10-18 05:16] kevinxh opened #240 "useReadLocalStorage should not always parse value as JSON"
See https://github.com/juliencrn/usehooks-ts/blob/master/src/useReadLocalStorage/useReadLocalStorage.ts#L18, there is an incorrect assumption where the localstorage value is always JSON, but this is not true, you can have a string.

Assume you have the following item in your localstorage
| key | value |
|-----|-------|
|  customer_id   |  abcdefg     |

[code]

![Screen Shot 2022-10-17 at 10 13 52

[2022-10-18 13:45] kokosin4ik commented on #240
Same problem for the [useLocalStorage](https://usehooks-ts.com/react-hook/use-local-storage) hook

[2022-10-21 06:37] mrdulin commented on #178
Can you provide a codesandbox?

[2022-10-25 11:08] ro0t commented on #212
I second this. Getting weird results combining this with a custom useIsMobile hook when not listening to changes for good reasons.

[2022-10-25 18:53] codebutler commented on #236
The values returned by ReiszeObserver don't include padding/border. Something like this would better match the existing behavior:

[code]

[2022-11-09 20:32] jbean96 commented on #182
This still seems to be a problem for me even after the fix that changes the dep array for `useIntersectionObserver` to `elementRef?.current`.

[2022-11-16 04:41] 0529bill opened #250 "[feature] adding useThrottle"
it seems like we don't have a useThrottle function in the library just yet, and I would love to make a PR and have it included in the library!

[2022-11-16 10:05] harrywebdev commented on #176
I reckon this is most likely because the `useState` hook doesn't use the provided `initialValue` here
https://github.com/juliencrn/usehooks-ts/blob/master/src/useSessionStorage/useSessionStorage.ts#L39

which is, what is expected on client on the first render. I think the line should read

[code]

and if I understand the code correctly, then this comment

is actually handled by the `useEffect(...,

[2022-11-16 14:57] callumacrae opened #253 "useElementSize doesn't work when used on <svg> element"
https://chromestatus.com/feature/5724912467574784

`SVGElement.offsetWidth` doesn't exist anymore, so `useElementSize()` always returns 0.

I've fixed this locally by replacing `offsetWidth` with `getBoundingClientRect()`, but wanted to discuss that before sending a PR as it's a breaking change per [this answer on Stack Overflow](https://stackoverflow.com/a/45419412).

One way around the breaking